{{#if post.image}}
<img class="cover" src="{{post.image}}">
{{/if}}
<h1>{{post.title}}</h1>
<p>Posted {{post.posted}} by {{post.author.display}}</p>

{{what-bars post.content enabled sanitizer class="content"}}

<div class="clear"></div>
