<header class='{{size}}'>
  {{#link-to 'index'}}
    <div class="logo"></div>
  {{/link-to}}
  <div class="title">
    {{#link-to 'index'}}
      <h1>W<span class="hat">hat</span>Code</h1>
    {{/link-to}}
    <div class="tagline">
      # what about code and<br/>
      # code about what
    </div>
  </div>
</header>

<toolbar>
  <div class="center-column">
    {{#if session.coder}}
    <div class="item">
      <a {{action session.deauthenticate true}}>Deauthenticate</a>
    </div>
    <div class="item">
      <img src="{{session.coder.avatar}}">
    </div>
    {{else}}
    <div class="item">
      <a {{action 'showModal' true}}>Authenticate</a>
    </div>
    {{/if}}
  </div>
</toolbar>

<div class="center-column">
  {{outlet}}
</div>

<footer></footer>

{{#if showModal}}
<div class='auth-modal' {{action 'showModal' false}}>
  <div class="auth-modal-inner">
    <a {{action session.authenticate 'facebook' null true}}>{{fa-icon "facebook-square"}}</a>
    <a {{action session.authenticate 'google' null true}}>{{fa-icon "google-plus-square"}}</a>
    <a {{action session.authenticate 'github' null true}}>{{fa-icon "github-square"}}</a>
  </div>
</div>
{{/if}}

